.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: rgb(39, 39, 39);
}
.btnLink {
  text-decoration: unset;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.btnLink:hover {
  color: unset;
  color: #000;
}
.btnLinkList {
  text-decoration: unset;
  color: #fff;
  text-decoration: none;
}
.btnLinkList:hover {
  color: unset;
}
.aling-buttons {
  display: flex;
  justify-content: space-between;
}
.button-width {
  width: 180px;
  margin-bottom: 10px;
}
.icon-listplus {
  margin-left: 5px;
}
